.Dictionary {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.Dictionary .form {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.Dictionary .btn btn primary{
    padding: 10px 20px;
    margin: 20px;
}